extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Thomas McVay

        
        p.lead.text-light
          | Full Stack JavaScript Developer.

        
        .portfolio-bio
          p
            | Thomas McVay, Bicester United Kingdom. thinker of thoughts and learner of things.
            | Master's of International Relations; pasty white guy that can speak Chinese. Learning is my
            | vice and thus the tech sector is my perfect fit. Full-stack Javascript is were it begins.
            | The Treehouse techdegree has given me the portfolio and the skills in development to not just
            | get a foot in the door of development, but to become a damn good developer and key part of any tech team.
            | 
            | 
            

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        
        ul
          li Node
          li Express
          li HTML
          li CSS
          li JavaScript 
          li Git
          li jQuery
          li OO JS
          li API's
          li Form validation
          li DOM manipulation
        h6 Contact Info

        
        ul
          li 07756618175
          li tom_mcvay@live.co.uk

        
        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  